<ul>
  <li><%= link_to_unless_current "Home", welcome_index_path %></li>
  <li><%= link_to_unless_current "Dogs", dogs_index_path %></li>
  <li><a class="active" href="#gallery">Gallery</a></li>
  <li><%= link_to_unless_current "Contact", contact_index_path %></li>
  <li style="float:right"><%= link_to_unless_current "About", about_index_path %></li>
</ul>
<h1> <img src="http://eukaryaacademy.com/wp-content/uploads/2017/02/underconstruction.jpg"></h1>
<footer class="w3-container w3-teal">
  <h5>Thank you for visiting.</h5>
  <p>Giselle Vanegas. Copyright 2017. ET718</p>
</footer>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
