<ul>
  <li><%= link_to_unless_current "Home", welcome_index_path %></li>
  <li><%= link_to_unless_current "Dogs", dogs_index_path %></li>
  <li><%= link_to_unless_current "Gallery", gallery_index_path %></li>
  <li><%= link_to_unless_current "Contact", contact_index_path %></li>
    <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>
  <div class="about-the-author">
    <h3 class="author-title">About the Author</h3>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <div class="author-image">
          <img src="https://www.collegerecruiter.com/blog/wp-content/uploads/2014/05/shutterstock_113282671-231x300.jpg">
        </div>
        <div class="author-social">
          <a href="#">
            <span class="fa-stack fa-lg facebook">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#">
            <span class="fa-stack fa-lg twitter">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#">
            <span class="fa-stack fa-lg linkedin">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="small-12 medium-8 columns">
        <h4 class="separator-left">Dr. Saueressig</h4>
        <p>Born in Germany on Feb. 4,1924, Dr. Saueressig graduated from the University of Munich Veterinary College in 1953 and completed her doctoral dissertation magna cum laude in 1954. In 1955, she traveled to America to gain hands-on animal experience, intending to study for one year. Instead, she remained at the Humane Society of Missouri for the next 55 years.

          When she joined the clinic, it was understaffed and underequipped. Two veterinarians – one part-time, one full-time – worked in two hot rooms attached to the animal shelter. Soon after joining the Humane Society, she was put in charge of the fledgling facility and its rotating staff of interns. One of the interns was Richard Riegel, DVM. They married in 1956 and resided in Richmond Heights. Dr. Riegel survives.

          When Dr. Saueressig was named Chief of Staff in 1965, she began a crusade to update the clinic and add surgical facilities. Her first surgeries were spays and neuters of dogs belonging to Humane Society staff members. From the beginning of her career, Dr. Saueressig was an advocate for the need to spay and neuter pets as the means to end animal suffering caused by overpopulation. Unlike today, there was neither awareness of the need, nor inclination to limit pet reproduction. At the clinic, and in her weekly “Ask the Pet Doctor” column for the St. Louis Globe-Democrat (1979-1985), she unceasingly campaigned for the need to spay and neuter.

          In 1972, she was honored as national “Woman Veterinarian of the Year” by the Women’s Veterinary Medical Association not only for her work on behalf of the profession but also for inspiring dozens of young people to become veterinarians. In 1983, she was honored as a Leader of Distinction and inducted into the YWCA Metro St. Louis Academy of Leaders. Dr. Saueressig also served on many veterinary and community organizations.

          Dr. Saueressig is credited with developing the Humane Society of Missouri’s City Headquarters clinic into the vibrant animal hospital it is today. Together with the Westport Area and Chesterfield Valley Centers, the Humane Society of Missouri operates one of the largest veterinary practices in the Midwest.</p>
      </div>
    </div>
  </div>
  <footer class="w3-container w3-teal">
    <h5>Thank you for visiting.</h5>
    <p>Giselle Vanegas. Copyright 2017. ET718</p>
  </footer>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
