<ul>
  <li><%= link_to_unless_current "Home", welcome_index_path %></li>
  <li><%= link_to_unless_current "Dogs", dogs_index_path %></li>
  <li><%= link_to_unless_current "Gallery", gallery_index_path %></li>
  <li><%= link_to_unless_current "Contact", contact_index_path %></li>
    <li style="float:right"><a class="active" href="#about">About</a></li>
  </ul>
s
